@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 210 14% 95%;
    --foreground: 203 13% 27%;
    --card: 210 14% 95%;
    --card-foreground: 203 13% 27%;
    --popover: 210 14% 95%;
    --popover-foreground: 203 13% 27%;
    --primary: 203 13% 27%;
    --primary-foreground: 210 14% 98%;
    --secondary: 190 36% 61%;
    --secondary-foreground: 210 14% 10%;
    --muted: 210 10% 90%;
    --muted-foreground: 203 13% 45%;
    --accent: 190 36% 61%;
    --accent-foreground: 210 14% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 203 13% 85%;
    --input: 203 13% 85%;
    --ring: 203 13% 27%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground font-body;
  }
}
